<h2 style="text-align: center;">{{ listTitle }}</h2>
{% include 'TemplateFridge/searchForm.html' %}

{% if recettes|length_is:"0" %}
    <div style="text-align: center;"> Nous n'avons trouvé aucun résultat pour votre recherche, essayez un autre mot clef, vous aurez plus de chance peut-être !
    </div>


{% else %}

{% for recette in recettes %}
        <div class="SeriePresentation">
            <a href="{% url 'FridgeApp:RecettesListing' %}">
                <img class="SerieImage" src="{{ recette.picture}}" alt="image de {{ recette.name }}" width="576px" height="324px"  >
               
            </a>
            <h3><a href="{% url 'FridgeApp:RecettesListing'  %}">{{ recette.name }}</a></h3>
            <h3><a href="{% url 'FridgeApp:RecettesListing'  %}" >{{ recette.howToCook }} </a></h3>

            
           
        </div>    
 {% endfor %}
    <nav aria-label="pagination ">
        <ul style="list-style-type: none;">
            {% if recettes.has_previous %}
            <li><a href="?page={{ recettes.previous_page_number }}" style="text-decoration: none ; ">précédent</a></li>
            {% endif %}
            {% if recettes.has_next %}
            <li><a href="?page={{ recettes.next_page_number }}" style="text-decoration: none ; ">suivant</a></li>
            {% endif %}
        </ul>

    </nav>
    {% endif %}


    <form action="/search" method="post">
