<form action="{%url 'FridgeApp:search' %}" method="get" accept-charset="utf-8">
    <select multiple id="searchForm" name="query">
    {% for aliment in aliments %}
    
    <label for="searchForm">
            </label>
            
          
        <option>{{ aliment.name}} <br></option>
</form>
{% endfor %}
</select>
<button type="submit"  >Recherchez la recette qui contient les aliments cochés</button>
 <!-- #/!\ REMPLIR LE PARAM ACTION !!! Avec votre future chemin (dans urls => name = "...") vers votre fonction de recherche -->